/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
    --blue: #2a2185;
    --blueFlue: #1795ce;
    --white: #fff;
    --black1: #222;
    --black2: #999;
    --black3: rgba(0, 0, 0, 0.08);
    --black4: rgba(0, 0, 0, 0.1);
    --red: #f00;
    --orange: #e9b10a;
    --green: #8de02c;
    --success: #03792a;
    --success2: #03b63f;
    --error: #fc3e61;
  }

  


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: var(--white);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background:  var(--white);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid var(--black2);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--blue);
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--white);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 1rem;
}
.form button:hover,.form button:active,.form button:focus {
  background: var(--white);
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: bolder;

}
.form .message {
  margin: 15px 0 0;
  color: var(--black2);
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: var(--black2);
  background: linear-gradient(90deg, var(--black2) 0%, var(--blue) 0%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
    font-size: 2rem;
}
